<% form_for @survey do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
	<%= f.label :open_script, "Opening Script"%><br />
	<%= f.text_area :open_script %>
  </p>
  <% f.fields_for :questions do |builder| %>
    <%= render "question_fields", :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add Question", f, :questions %></p>
  <p>
	<%= f.label :close_script, "Closing Script"%><br />
	<%= f.text_area :close_script %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
