<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Make Calls for Rory") %></title>
    <%= stylesheet_link_tag 'calltool' %>
    <%= javascript_include_tag :defaults, :cache => true %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-css/overcast/jquery-ui-1.8.custom.css"/>
     <script type="text/javascript">
       /*  $(document).ready(function(){

    		$("form li").hover(
      function () {
        $(this).css("border", "1px solid red");
      }, 
      function () {
        $(this).css("border", "none");
      }
    );



     }); */
     function jqCheckAll2( id, name )
     {
        $("INPUT[@name=" + name + "][type='checkbox']").attr('checked', $('#' + id).is(':checked'));
     }
    </script>    
    <%= yield(:head) %>
  </head>
  <body>
  <div id="wrapper">
    <div id="header">
    <img src="/images/new_logo_DK.png" width="405" height="80" />
    <div id="nav">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
    </div><!--end nav-->
  </div><!--end header-->
      <div id="main">
      	<div id="sidebar">
          	<div id="userinfo">
             	  <div class="avatar"><img src="/images/headshot-sm.jpg" width="65" height="72" /></div>
                  <div id="profile"><h3>Avatar Lady</h3><p>Las Vegas, NV</p>
                <h3>Interests:</h3><p>Being Awesome, Voting, Education, Health Care</p><p><a href="#edit">Edit Information</a></p></div><!--end profile-->
              </div><!--end userinfo-->
              <% if params[:controller] == 'admin' or params[:controller] == 'surveys' %>
                <%= render :partial => 'admin/links' %>
              <% end %>
              <% if params[:controller] == 'survey_replies' %>
                <%= render :partial => 'survey_replies/inline_previous_replies' %>
              <% end %>
          </div><!--end sidebar-->
          <div id="content">
            <%= yield %>
          </div><!--end content-->
      </div><!-- end main-->
  </div><!-- end wrapper -->
  </body>  
</html>
